<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Telia Soundboard</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/style.css">
		<script src="script.js"></script>
	</head>

	<body>
		<!--[if lt IE 8]>
            <p class="browserupgrade">We hate you and go away!</p>
        <![endif]-->
		<h1 class="page-title">Telia Soundboard</h1>
		{{#data}}
			<a class="sound-button" href="/?id={{file}}">{{name}}</a>
		{{/data}}
	</body>

</html>