body{
    padding-top: 60px;
}
header{
    width: 100%;
    position: absolute;
    background-color: #999;
    top: 0;left: 0;
}
header p{
    padding: 0;
    margin: 0;
    color: #fff;
    float: left;
    line-height: 2.5em;
    padding: 15px;
    box-sizing: border-box;
    font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
    display: inline-block;
}
header h1{
    float: left;
    margin: 0;
    color: #333;
    font-family: sans-serif;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 20px;
    line-height: 33px;
}
header button{
    height: 100%;
    position: relative;
    padding: 10px 15px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    float: right;
    cursor: pointer;
    outline: none;
    border-right: 1px solid rgba(0,0,0,.1)
}
header button.active{
    background-color:aquamarine;
    color: #333;
}
.sectioned{
    float: right;
    display: flex;
    flex-direction: row;
    height: 43px;
}
.flexy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10vw;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flexy h1 {
    color: #888;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 4vw;
    margin-bottom: 40px;
}

.button{
    float: left;
    display: block;
    position: relative;
    background: aquamarine;
    color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover .button-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
    box-sizing: border-box;
    border: 15px solid #555;
}

.button-image {
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 100px;
}

.button-image-missing{
    opacity: 0.2;
}
