<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{pageTitle}}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-main="static/app" src="static/require.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/switch.css">
  </head>

  <body>
        <h1>{{{pageTitle}}}</h1>
	      {{#files}}    
	      <a class="sound" href="javascript:void(0)" data-soundfile="{{{name}}}">
          <img class="button-image" src="data/{{{imgName}}}"/>
        </a>
	      {{/files}}
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox switch-play-remote" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
  </body>

</html>
