<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{pageTitle}}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>
  <body>

    <div class="flexy">
      {{#files}}
      <a class="button" data-sound="{{{name}}}">
        <span class="button-hover"></span>
        {{#imgName}}
          <img class="button-image" src="data/{{{imgName}}}"/>
        {{/imgName}}
        {{^imgName}}
          <img class="button-image button-image-missing" src="images/wave.svg"/>
        {{/imgName}}
      </a>
      {{/files}}
    </div>

    <header>
      <h1>{{{pageTitle}}}</h1>
      <div class="sectioned">
        <p>Play on/in: </p>
        <button data-target="remote" class="active">server</button>
        <button data-target="broadcast">all connected browsers</button>
        <button data-target="local">this browser</button>
      </div>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script data-main="js/soundboard" src="js/require.js"></script>

    <div id="chart_div" />
  </body>
</html>
