<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{pageTitle}}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/switch.css">
    <script data-main="js/soundboard" src="js/require.js"></script>
  </head>
  <body>
    <h1>{{{pageTitle}}}</h1>
    {{#files}}
    <a class="button-sound" href="javascript:void(0)" data-sound="{{{name}}}">
      <img class="button-image" src="data/{{{imgName}}}"/>
    </a>
    {{/files}}
    <div class="onoffswitch">
      <input class="onoffswitch-checkbox switch-play-remote" type="checkbox" name="onoffswitch" id="myonoffswitch" checked>
      <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
    <audio/>
  </body>
</html>